################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/McpServer/.vs
/src/McpServer/McpServer/bin/Debug/net10.0
/src/McpServer/McpServer/obj
